#arrowBoxTopContainer {
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

.arrowBoxTop {
  position: absolute;
  z-index: 9;

  background: #F2453D;
  border: 4px solid #F2453D;
  color: #fff;
  border-radius: 15px;

  max-width: 192px;
  padding: 12px 27px;

  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  line-height: 1.1;

  top: -77px;
  right: 0;
}

.arrowBoxTop strong {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.arrowBoxTop:after, .arrowBoxTop:before {
  position: absolute;
  top: 100%;
  left: 50%;

  border: solid transparent;

  content: " ";

  height: 0;
  width: 0;

  pointer-events: none;
}

.arrowBoxTop:after {
  border-color: rgba(242, 69, 61, 0);
  border-top-color: #F2453D;
  border-width: 22px;
  margin-left: 36px;
}

.arrowBoxTop:before {
  border-color: rgba(242, 69, 61, 0);
  border-top-color: #F2453D;
  border-width: 22px;
  margin-left: 36px;
}
