#arrowBoxBottomContainer {
  position: relative;
  opacity: 1;
  pointer-events: none;
  transition: .3s;
}

.arrowBoxBottom {
  position: absolute;
  z-index: 9;

  background: #F2453D;
  border: 4px solid #F2453D;
  color: #fff;
  border-radius: 15px;

  max-width: 192px;
  padding: 12px 27px;

  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  line-height: 1.1;

  top: 18px;
  left: 0;
}

.arrowBoxBottom strong {
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
  font-weight: 700;
}

.arrowBoxBottom:after, .arrowBoxBottom:before {
  position: absolute;
  bottom: 100%;
  left: 50%;

  border: solid transparent;

  content: " ";

  height: 0;
  width: 0;

  pointer-events: none;
}

.arrowBoxBottom:after {
  border-color: rgba(242, 69, 61, 0);
  border-bottom-color: #F2453D;
  border-width: 22px;
  margin-left: -70px;
}

.arrowBoxBottom:before {
  border-color: rgba(242, 69, 61, 0);
  border-bottom-color: #F2453D;
  border-width: 22px;
  margin-left: -70px;
}
