.background {
  display: grid;
  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100%;
  min-height: 100vh;

  padding-top: 10px;
  padding-bottom: 10px;
}
