@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#blurOpacity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .74);
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
}

#blurOpacity.show {
  opacity: 1;
}

.flexColumn {
  flex-direction: column;
}

.colorGrey {
  color: #63799B !important;
}

.colorSuccess {
  color: #68C102 !important;
}

.colorDanger {
  color: #F1443C !important;
}

.borderDanger {
  border: 2px solid #F1443C !important;
}

.w100 {
  width: 100%;
}

.dFlex {
  display: flex;
}

.dBlock {
  display: block;
}

.alignItemsCenter {
  align-items: center;
}

*:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.blur {
  filter: blur(10px);
}

.bold {
  font-weight: 700;
}

.mAuto {
  margin: auto;
}

.textCenter {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;

  background-color: #F9FDFF;
  border-radius: 10px;
}

.card.cardCompany {
  margin-left: auto;
  margin-right: -31px;
  padding: 9vh 13.2vh 6.6vh 13.1vh;

  position: relative;
  z-index: 1;
  width: fit-content;
  
  -webkit-box-shadow: 30px 20px 99px 0px rgba(102,133,218,.58);
  -moz-box-shadow: 30px 20px 99px 0px rgba(102,133,218,.58);
  box-shadow: 30px 20px 99px 0px rgba(102,133,218,.58);
}

@media (max-width: 1440px) {
  .card.cardCompany {
    margin-right: unset;
  }
}

@media (max-width: 1079px) {
  .card.cardCompany {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.card.cardLogin {
  margin-right: auto;
  margin-left: -31px;
  padding: 10vh 7vh 9.5vh 10.2vh;
  border-radius: 20px;
}

@media (max-width: 1440px) {
  .card.cardLogin {
    margin-left: -126px;
  }
}

@media (max-width: 1079px) {
  .card.cardLogin {
    margin-top: 10px;
    margin-left: unset;
    margin-right: unset;
  }
}

.card.cardPassword {
  padding: 9vh 8.5vh 7vh 8.5vh;
  border-radius: 20px;
}

#loginSubtitle {
  padding-top: 4vh;
}

#loginSubtitle p {
  font-size: 0.875rem;
  color: #637998;
}

#loginSubtitle p a {
  font-weight: 700;
  text-decoration: none;
  color: #F47B0E;
}

#newPasswordSuccessImg {
  margin-top: -133px;
}

#newPasswordSuccessImg.handToCenter {
  animation: handToCenter .5s ease-in;
}

@keyframes handToCenter {
  0% {
    margin-left: -417px;
    opacity: 0;
  }
  100% {
    margin-left: unset;
    opacity: 1;
  }
}
