.btn {
  font-size: 0.875rem;
  text-decoration: none;

  cursor: pointer;

  padding: 11px 27px 11px 27px;
  
  border: 1px solid transparent;
  border-radius: 50px;
  transition: .3s;
}

.btnPrimary {
  background-color: #F47B0E;
  border: 1px solid #F47B0E;
  color: #fff;
}

.btnSecondary {
  background-color: #F5F6FA;
  border: 1px solid #F5F6FA;
  color: #63799B;
}

.btnBorder {
  border: 1px solid #707070;
}

.btnLg {
  padding: 16px 25px 16px 25px;
  min-width: 185px;
  text-align: center;
}

.btnShadowHover:hover {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

#login {
  padding-top: 5vh;
}
