.card.cardCompany .companyDescription {
  font-size: 1.625rem;
  line-height: 29px;
  color: #637998;

  max-width: 253px;
  margin: 5vh auto 5vh auto;
}

.companyDescription strong {
  font-weight: 400;
  color: #f47b0e;
}
