.formInput {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30.3px;
}

.formInput label {
  font-size: 1.0625rem;
  color: #63799B;
  margin-bottom: 11.3px;
}

.formInput label .required {
  font-weight: 400;
  color: #F2453D;
}

.formInput input {
  font-size: 1.0625rem;

  border: 1px solid #97A3B5;
  border-radius: 50px;
  color: #707070;

  padding: 11.9px 21px;
}
