#loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

#loading.show {
  opacity: 1;
  pointer-events: unset;
}
