.card .loginTitle h2 {
  font-size: 2.0625rem;
  color: #637998;
}

.card .loginTitle p {
  font-size: 1.0625rem;
  color: #637998;

  max-width: 352px;
  margin: 1vh 0 2vh 0;
}

.card .loginTitle p span {
}
