.loginInput {
  position: relative;
  display: flex;
  flex-direction: column;
  
  background-color: #EFF6F9;
  border-width: 0;

  padding: 23px 24px 24px 23px;
  min-height: 63px;
  max-height: 63px;

  animation: inputDeactivate .3s;
}

.loginInput.active {
  background-color: #F9FDFF;
  border-left: 4px solid #F47B0E;

  padding: 23px 17.6px 16.9px 17.6px;

  -webkit-box-shadow: 0px 10px 50px 0px rgba(102,133,218,0.22);
  -moz-box-shadow: 0px 10px 50px 0px rgba(102,133,218,0.22);
  box-shadow: 0px 10px 50px 0px rgba(102,133,218,0.22);

  animation: inputActivate .3s;
}

.loginInput label {
  position: absolute;
  top: 25px;

  font-size: 0.625rem;

  color: #707070;

  animation: labelToCenter .3s;
  pointer-events: none;
}

.loginInput.active label {
  top: 8px;

  text-transform: uppercase;

  animation: labelToTop .3s;
}

.loginInput input {
  background-color: transparent;
  border: 1px solid transparent;

  font-size: 0.75rem;

  color: #707070;
}

.loginInput.active input {
  margin-top: 7px;
}

.loginInput:first-child {
  margin-bottom: 4vh;
}

.loginInput#password input {
  max-width: 210px;
}

.loginInput#password #forgetPassword {
  position: absolute;
  right: 21.9px;
  top: 25px;

  font-size: 0.625rem;
  text-decoration: none;
  
  color: #707070;
  opacity: .4;

  transition: .3s;
  cursor: pointer;
}

.loginInput#password #forgetPassword:hover {
  opacity: 1;
}

.loginInput.active#password #forgetPassword {
  opacity: 0;
  pointer-events: none;
}

.loginInput#password #showPassword {
  position: absolute;
  right: 17px;
  top: 24px;

  font-size: 0.625rem;
  text-decoration: none;
  
  color: #707070;
  opacity: .4;

  transition: .3s;
  cursor: pointer;
}

.loginInput#password #showPassword.active {
  opacity: 1;
}

.cardPassword .loginInput {
  min-width: 346px;
}

@keyframes inputActivate {
  0% {
    background-color: #EFF6F9;
    border-width: 0px;
    padding: 23px 24px 24px 23px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(102,133,218,0.22);
    -moz-box-shadow: 0px 0px 0px 0px rgba(102,133,218,0.22);
    box-shadow: 0px 0px 0px 0px rgba(102,133,218,0.22);
  }
  100% {
    background-color: #F9FDFF;
    border-left: 4px solid #F47B0E;
    padding: 23px 17.6px 24px 17.6px;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(102,133,218,0.22);
    -moz-box-shadow: 0px 10px 50px 0px rgba(102,133,218,0.22);
    box-shadow: 0px 10px 50px 0px rgba(102,133,218,0.22);
  }
}

@keyframes inputDeactivate {
  0% {
    background-color: #F9FDFF;
    border-left: 4px solid #F47B0E;
    padding: 23px 17.6px 24px 17.6px;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(102,133,218,0.22);
    -moz-box-shadow: 0px 10px 50px 0px rgba(102,133,218,0.22);
    box-shadow: 0px 10px 50px 0px rgba(102,133,218,0.22);
  }
  100% {
    background-color: #EFF6F9;
    border-width: 0px;
    padding: 23px 24px 24px 23px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(102,133,218,0.22);
    -moz-box-shadow: 0px 0px 0px 0px rgba(102,133,218,0.22);
    box-shadow: 0px 0px 0px 0px rgba(102,133,218,0.22);
  }
}

@keyframes labelToTop {
  0% {
    top: 25px;
  }
  100% {
    top: 8px;
    text-transform: uppercase;
  }
}

@keyframes labelToCenter {
  0% {
    top: 8px;
    text-transform: uppercase;
  }
  100% {
    top: 25px;
    text-transform: none;
  }
}
