.modal {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;

  opacity: 0;
  pointer-events: none;

  transition: .3s;
}

.modal.show {
  opacity: 1;
  pointer-events: unset;
}

.modalContent {
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 21px 49px 21px 49px;

  background-color: #fff;
  border-radius: 10px;

  -webkit-box-shadow: 0px 3px 99px 0px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 3px 99px 0px rgba(0,0,0,0.34);
  box-shadow: 0px 3px 99px 0px rgba(0,0,0,0.34);
}

.modal .close {
  position: absolute;
  top: 23.6px;
  right: 30.6px;
  display: flex;
  text-align: center;
  align-items: center;
  width: 38px;
  height: 38px;

  border-radius: 50%;
  border-width: 0;

  cursor: pointer;
  transition: .3s;
}

.modal .modalHeader {
  padding-top: 35px;
  padding-bottom: 15px;
}

.modal .modalTitle {
  font-size: 1.25rem;
  font-weight: 700;
  color: #63799B;

  margin-bottom: 10px;
}

.modal .modalDescription {
  font-size: 0.9375rem;
  line-height: 17px;
  color: #AEBBCD;

  max-width: 539px;
}

.modal .modalBody {
  padding-top: 15px;
}

.modal #passwordRecover {
  padding-right: 77.2px;
}

.modal #new-passwordSuccess {
  padding-left: 142px;
  padding-right: 142px;
}

.modal .btn {
  margin-left: 8px;
  margin-right: 8px;
  letter-spacing: .7px;
}

.modal #newPasswordSuccess .modalTitle {
  font-size: 1.5625rem;
  margin-top: -20px;
}

.modal #newPasswordSuccess .modalDescription {
  font-size: 1.0625rem;
  line-height: 17px;
}

.modal #newPasswordSuccess .btn {
  margin-top: 34.5px;
}

.modal .modalFooter {
  padding-bottom: 21.2px;
}
