<div class="arrow_box">asd</div>

<style>
  .arrow_box {
    position: relative;
    background: #F2453D;
    border: 4px solid #F2453D;
  }
  .arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    border-color: rgba(242, 69, 61, 0);
    border-top-color: #F2453D;
    border-width: 30px;
    margin-left: -30px;
  }
  .arrow_box:before {
    border-color: rgba(242, 69, 61, 0);
    border-top-color: #F2453D;
    border-width: 36px;
    margin-left: -36px;
  }
</style>
